*{
    padding: o;
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(30, 54%, 90%);
    color:hsl(30, 10%, 34%) ;
    font-size: 1.1rem;
    font-family: "Outfit", serif;
  font-weight: 400;
  font-style: normal;
    
}
.recipe-page__prep-time{
    background-color: hsl(330, 100%, 98%);
    padding: 1rem;
    border-radius: 10px;
    
}
.recipe-page{
    max-width: 50vw;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    padding: 2rem;
    
}
.recipe-page__content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
img{
    width: 100%;
     border-radius: .5rem;
}
.recipe-page__title{
    font-size: 3rem;
    margin: 1rem 0;
}
.prep-time__label{
    color: hsl(332, 51%, 32%);
    font-weight: 700;
    font-size: 1.2rem;
}
strong{
    font-size: 700;
}
h3{
    color: rgb(133, 70, 50);
    font-weight: 400;
    font-size: 1.8rem;
    margin-bottom: 1rem ;
     font-family: "Young serif", serif;
}
.custom-bullet::marker {
  color: rgb(133, 70, 50); 
  font-weight: 600;
 
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
